@model SocialCommunicationWebApp.ViewModels.UserFriend_ViewModel
@{
    ViewBag.Title = "FriendRequest";
    Layout = "../Shared/_LayoutUser.cshtml";
}

@*Here start nevbar*@
@section navBar{
    <li>
        <a href="@Url.Action("FriendRequest", "User")">
            Request <span class="badge badge-light">@ViewBag.FrendRequestNumbers</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("FriendsList", "User")">
            Friends <span class="badge badge-light">@ViewBag.NumberOfFriends</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Message")">
            Messages <span class="badge badge-light">@ViewBag.message</span>
        </a>
    </li>
}
@section navBarRight{
    <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
}
@*End nevbar*@

<h2>FriendRequest</h2>

<h1>User Mail: @Session["email"].ToString()</h1>
<h2>Friend List of: @Model.User.Name</h2>
<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>From</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @*@foreach (var c in Model.Friends)
        {
            <tr>
                <td>@c.Name</td>
                
                
            </tr>
        }*@
    @for (int i = 0; i < Model.Friends.Count; i++)
    {
        <tr>
            <td>@Model.FromFriendNameList[i]</td>
            <td>@Model.Friends[i].Date</td>
            <td>@Model.Friends[i].Accept</td>
            @*<td><a href="@Url.Action("AcceptFriendRequest","Friend",new {id=Model.Friends[i].Id})" class="btn btn-primary">Accept Request</a></td>*@

        </tr>
    }
    </tbody>
</table>