@model IEnumerable<SocialCommunicationWebApp.Models.User>
@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_LayoutUser.cshtml";
}

@*Here start nevbar*@
@section navBar{
    <li>
        <a href="@Url.Action("FriendRequest", "User")">
            Request <span class="badge badge-light">@ViewBag.FrendRequestNumbers</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("FriendsList", "User")">
            Friends <span class="badge badge-light">@ViewBag.NumberOfFriends</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Message")">
            Messages <span class="badge badge-light">@ViewBag.message</span>
        </a>
    </li>
}
@section navBarRight{
    <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
}
@*End nevbar*@



<h2>Home</h2>
<h1>User Mail: @Session["email"].ToString()</h1>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                @*<td>@Html.ActionLink(c.Name, "Edit", "Customer", new { id = c.Id }, null)</td>*@
                <td>@c.Email</td>
                @*<td>@Html.ActionLink("Add Friend", "FriendRequest", "Friend", new { id = c.Id }, null)</td>*@
                <td><a href="@Url.Action("FriendRequest","Friend",new {id=c.Id})" class="btn btn-primary">Add Friend</a></td>
            </tr>
        }
    </tbody>
</table>

