@model IEnumerable<SocialCommunicationWebApp.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "New", "User")
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                @*<td>@Html.ActionLink(c.Name, "Edit", "Customer", new { id = c.Id }, null)</td>*@
                <td>@c.Email</td>
                <td>@c.Country.Name</td>
                @*<td><button data-customer-id="@c.Id" class="btn-link js-delete">Delete</button></td>*@
            </tr>
        }
    </tbody>
</table>